@import "global.css";

.products-container h2 {
  text-align: center;
}

.products-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container .list-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 40px;
  height: 100%;

  /* grid-template-columns: 1fr repeat(12, minmax(auto, 250px)) 1fr; */
}

.products-container .product-card {
  width: 250px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-card .img-card {
  flex-basis: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgCard-Product);
  border-radius: var(--redius-hard);
}
.product-card .img-card img {
  transition: 0.4s all linear;
}
.product-card .img-card img:hover {
  transform: scale(1.1);
}
.product-card .text-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 4px;
  padding-left: 8px;
  padding-top: 4px;
}

.product-card .text-card p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-card .text-card i {
  color: var(--star-Color);
}

@media screen and (max-width: 768px) {
  .products-container .list-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    height: 100%;
  }
}
