@import "global.css";

.reviews-container {
  width: 100%;
  margin: 40px 0;
}
.reviews-list {
  display: flex;
  gap: 16px;
  width: 100%;
  overflow-x: scroll;
}
.item-review {
  min-width: 330px;
  min-height: 150px;

  height: auto;
  border-radius: var(--redius-hard);
  border: 1px rgb(231, 231, 231) solid;
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.item-review i {
  color: var(--star-Color);
}
.item-review span i {
  color: #01ab31;
}
